@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--VeryDarkBlueDarkModeBg);
  background-color: var(--VeryLightGray);
  margin: 0;
  padding: 0;
  margin: auto;
}
:root {
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlueDarkModeBg: hsl(207, 26%, 17%);
  --VeryDarkBlueLightModeT: hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --shadow: rgba(0, 0, 0, 0.05);
  --headerColor: hsl(0, 0%, 100%);
  --ColorCads: var(--headerColor);
  --colorPlaceHolder: hsl(0, 0%, 21%);
  font-size: 16px;
  --nunito: "Nunito Sans";
  --find: "";
}
.is-dark-mode {
  --VeryLightGray: #202d36;
  --VeryDarkBlueLightModeT: hsl(0, 0%, 100%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryDarkBlueDarkModeBg: hsl(0, 0%, 100%);
  --headerColor: #2b3743;
  --ColorCads: var(--headerColor);
  --colorPlaceHolder: hsla(0, 0%, 65%, 0.856);
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin: auto;
}
